@font-face { font-family: Garet; src: url("Garet-Book.otf"); } 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Garet", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: black;
  height: 100vh;
  overflow: hidden;
}

.topB{
  position: fixed; 
  text-align:center;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

h2{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  color: white;
}

h5{
  text-align: center;
  padding: 20px 0;
  color: white;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}


h3{
  color:white;
  background-color: #666666;
  font-size: 200px;
  font-family: Garet;

}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  font-family: Garet;

}

.center h2{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  font-family: Garet;

}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
  font-family: Garet;

}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  font-family: Garet;

}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
  font-family: Garet;

}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color:goldenrod;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: goldenrod;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}


/*Main Page CSS*/
.topnav {
  background-color: #333;
  overflow: hidden;
  font-family: Garet;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  font-family: Garet;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 100px;
  text-decoration: none;
  font-size: 30px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: grey;
  color: black;
  font-family: Garet;

}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: goldenrod;
  color: white;
  font-family: Garet;


}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  align-self: center;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 300px;
  font-family: Garet;

}
img {
  width: 300px;
  height: 300px;
  background-color: grey;
}
.caption {
  display: block;
  color:#a6a6a6;
  font-family: Garet;
  font-size: 20p
}